.products-main-div {
	display: grid;
	grid-template-columns: 5fr 1fr;
	gap: 5px;
	justify-content: center;
}
.fixposition {
	position: fixed;
	padding-right: 6px;
	margin-right: 16px;
}
.products-container {
	background-color: rgba(255, 153, 0, 0.3);
}
.griddiv {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 14px;
	justify-content: center;
}
@media only screen and (max-width: 900px) {
	.griddiv {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		font-size: auto;
	}
	.products-main-div {
		display: grid;
		grid-template-columns: 3fr 1fr;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 768px) {
	.griddiv {
		display: grid;
		grid-template-columns: 170px 170px 170px;
		gap: 5px;
		font-size: 1rem;
		order: 2;
		align-content: center;
		justify-content: center;
	}
	.products-main-div {
		display: grid;
		grid-template-columns: 1fr;
	}
	.orderfirst {
		order: 0;
	}
	.fixposition {
		position: relative;
	}
	.selecteditem {
		position: fixed;

		top: 15px;
		left: 15px;
		background-color: rgba(240, 248, 255, 0.336);
		font-weight: bolder;
		font-size: 19px;
	}
	.linespacing {
		padding-left: ;
		margin-left: ;
	}
	.product-headline {
		font-size: 12px;
		text-transform: uppercase;
	}
}
