.fontdiv {
	font-size: 16px;
	font-style: italic;
	text-transform: capitalize;
	font-size: auto;
	text-align: left;
	color: blue;
	text-transform: lowercase;
}
.fixposition {
	line-height: 80%;
	font-style: italic;
	color: rgb(0, 0, 0);
}
